<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creator Records</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        table, th, td {
            border: 2px solid snow;
            padding: 8px;
        }

        th {
            background-color:#faa31a;
            color: snow;
            font-weight: bold;
        }
                /* Hover effect for table rows */
        tbody tr {
            background-color: snow; 
            color: #faa31a;
        }
        tbody tr:hover {
            transform: scale(1.05); /* Scale up by 5% */
            background-color: #faa31a; /* Light gray background on hover */
            color: snow;
            cursor: pointer; /* Change cursor to pointer on hover */
            transition: all 0.3s ease; 
        }
        tbody tr:not(:hover) {
            transform: scale(1); /* Scale back to original size when not hovered */
            transition: all 0.3s ease; 
        }
    </style>
</head>

<body >
    <h1 style="text-align: center;">Creator Records</h1>
    <table>
        <thead>
            <tr>
                <th style="text-align: center;">Attendee Name</th>
                <th style="text-align: center;">Score</th>
                <th style="text-align: center;">Date Submitted</th>
            </tr>
        </thead>
        <tbody>
            <% records.forEach(record => { %>
                <tr>
                    <td  style="text-align: center;"><%= record?.attendee_name %></td>
                    <td  style="text-align: center;"><%= record?.score %></td>
                    <td  style="text-align: center;"><%= new Date(record?.createdAt).toLocaleString() %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>

</html>
