<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="../../public/logo.png" alt="logo" class="logo">
            <span class="mob-tablet-logo-header">Question Box</span>
        </div>
        <div class="hamburger">
            <div class="linel1"></div>
            <div class="linel2"></div>
            <div class="linel3"></div>
        </div>
        <nav class="nav-bar">
            <ul>
                <li><a href="#home" onclick="f()" class="active">Feedback</a></li>
            </ul>
            <ul>
                <li><input class="search-bar" type="search" placeholder="Search"></li>
            </ul>
            <ol>
                <li><a href="">Logout</a></li>
            </ol>
        </nav>
    </header>

    <main>
        <section class="search-bar-mob">
            <input class="search-bar" type="search" placeholder="Search">
        </section>
        <div class="card_collection">

            <div class="card_container">
                <div>
                    <img src="../../public/cover3.png" alt="man">
                    <h2 class="card_heading">C++ Quiz</h2>
                </div>
            </div>

            <div class="card_container">
                <div>
                    <img src="../../public/cover3.png" alt="man">
                    <h2 class="card_heading">Test Quiz</h2>
                </div>
            </div>

        </div>


    </main>

</body>
</html>