<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="quiz-container" class="quiz-container">
        <div class="question">    
            <label for="question1" class="label">Question 1:</label>
            <div id="question1" class="questionText" >Console.log("2"+2)</div>
            <div class="options">
                <label class="option">
                    <input type="radio" class="option_radio_button" name="option">
                    <span class="option_text">22</span>
                </label>
                <label class="option">
                    <input type="radio" class="option_radio_button" name="option">
                    <span class="option_text">4</span>
                </label>
            </div>
        </div>

        <div class="question">    
            <label for="question1" class="label">Question 2:</label>
            <div id="question1" class="questionText" >Which programming language is better ? Hint: Java Sucks</div>
            <div class="options">
                <label class="option">
                    <input type="radio" class="option_radio_button" name="option">
                    <span class="option_text">C++</span>
                </label>
                <label class="option">
                    <input type="radio" class="option_radio_button" name="option">
                    <span class="option_text">Java</span>
                </label>
                <label class="option">
                    <input type="radio" class="option_radio_button" name="option">
                    <span class="option_text">Python</span>
                </label>
                <label class="option">
                    <input type="radio" class="option_radio_button" name="option">
                    <span class="option_text">Dart</span>
                </label>
            </div>
        </div>
    </div>
</body>
</html>