<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/components/LoginForm/style.css">
</head>
<body>
    <form action="/login" method="post">
        <div class="bg">
            <h1>Login</h1>
            <input type="email" placeholder="Email" name="email">
            <input type="password" placeholder="Password" name="password">
            <button>Login</button>
        </div>
    </form>
</body>
</html>